# testing libraries
MEDIRO_requires_sorting/
MEDIRO_unsorted/
20*/

# virtual environment
.venv

# imports ignores
__pycache__/

# pyinstaller ignores
build/
dist/
*.spec

# active configuration files
.MEDIRO.config.json
