# testing libraries
MEDIRO_requires_sorting/
MEDIRO_unsorted/
20*/
test/

# testing files
*.jpg
*.mp4

# virtual environments
.venv
win-venv

# imports ignores
__pycache__/

# pyinstaller ignores
build/
dist/
*.spec

# active configuration files
.MEDIRO.config.json
